html
  head
    title= title
  body
    form(action='/CREATE/new', method='POST')
        h1 Title
        input(type="text" name="title")
        h1 Description
        input(type="text" name="description")
        p
        button(type="submit") Create